{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Announcements</h3>

      <p>
        <ul>
          <li>We have now been rated A+ on Better Business Bureau for over 20 years! Our service is top of the line and we will
            continue to be a top-rated company year in and year out.
          </li>
          <li>We have now partered with Pauly's Paints. While using Pauly's paint you can be certain that our quality is going
            blow you away. Pauly supplies high quality latex primer and finish paint as well as stain so theres no job that
            Pauly's can't do!
          </li>
          <li>
            We have recently begun doing landscapes again! Robert Ross is an expert landscape painter who has been honing his craft
            since he was a child. These portraits are incredibly high quality and unique and would look perfect inside your recently
            repainted living room. For more information contact Robert Ross
            
            
          </li>

        </ul>
      </p>
    </div>

  </div>
</div>
{% endblock %}