{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "directory" %}

{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

        <!-- column 1 -->
        <div class="col-sm-12">
            <h3>Directory</h3>

            <p>
                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>Job Title</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                    </tr>
                    <tr>
                        <td>Robert Ross</td>
                        <td>Owner</td>
                        <td>1-800-262-7677</td>
                        <td>bossross@aol.com</td>
                    </tr>
                    <tr>
                        <td>Nick Ewert</td>
                        <td>Foreman</td>
                        <td>1-603-808-7055</td>
                        <td>nickewert@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Ian Ewert</td>
                        <td>Grunt</td>
                        <td>1-603-808-8055</td>
                        <td>ianewert@gmail.com</td> 
                    </tr>

                    
                </table>
            </p>
        </div>

    </div>
</div>
{% endblock %}