{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>

        <p>
          Here at Robert Ross Painting we provide high quality Interior and Exterior painting at an affordable price.
          Our painters have an extreme attention to detail and quality is the most important thing for us, we are committed
          to delivering a service that is second to none. 
    

        </p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p> 
          <img src="bobby.jpg" width="200" height="200">
        </p>
      </div>
    </div>
  </div>
{% endblock %}