{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3>Welcome</h3>

      <p>
        Here at Robert Ross Painting we provide high quality Interior and Exterior painting at an affordable price.
        Our painters have an extreme attention to detail and quality is the most important thing for us, we are
        committed
        to delivering a service that is second to none!
      </p>
      <p>
        We strive to provide honest, reliable, residential, and commercial painting services that stand head and
        shoulders above
        the rest. We combine the industries best paint with our passion for detail to exceed your expectations. Robert
        Ross also
        offers landscapes and portraits.
      </p>
      <p>
        <img
          src="https://image.pbs.org/contentchannels/DQhaEaX-background-1U3qFyO.png?focalcrop=1200x630x50x10&format=auto"
          width="500" height="250">
      </p>
    </div>
    <div class="col-sm-6">

      <!-- column 2 -->


      <p>
        <img src="https://www.maxfosterphotography.com/images/xl/Bob-Ross-Mountain-Summit.jpg" width="500" height="250">
      </p>
      <h3>News</h3>
      <p>
        <ul>
          <li>Townhouse in downtown Durham received full interior and exterior coats, open for sale as of 3/22</li>
          <li>We have now partered with Pauly's Paints. While using Pauly's paint you can be certain that our quality is going
            blow you away.
          </li>
          <li>Robert Ross has risen from his grave to return to supervise for the company! His passion is for paint and he couldn't 
            be laid to rest knowing he still had work that needed to be done.
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}